.hide {
    display: none !important
}
.card-body.users .media .artwork {width: 55px;}
.card-body.users .media .artwork img {width: 100%;}
.card-body.card-small {
    padding: 0 1.25rem;
}
.media-info .media img {
    width: 160px;
    height: 160px;
    border-radius: 3px;
    overflow: hidden;
}
.media-info .media img {
    width: 160px;
    height: 160px;
    border-radius: 3px;
    overflow: hidden;
}
.media-info .media img.wide {
    width: 160px;
    height: 90px;
}
.file-selector {
    position: absolute;
    z-index: -1;
    outline: none;
    box-shadow: none;
    right: 0;
    left: 16px;
    top: 2px;
    width: calc(100% - 33px);
    height: 34px;
}

.table thead th.th-handle {
    width: 44px;
    text-align: center;
}
.table thead th.th-priority {
    width: 75px;
}
.table thead th.th-wide-image {
    width: 90px;
}
.table thead th.th-1action {
    width: 40px;
}

.table thead th.th-2action {
    width: 70px;
}

.table thead th.th-3action {
    width: 100px;
}
.table thead th.th-4action {
    width: 130px;
}
.table thead th.th-5action {
    width: 160px;
}
table .files > li {
    float: left;
    width: 150px;
    border: 1px solid #eee;
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
}
table .file-icon {
    text-align: left;
    font-size: 25px;
    color: #666;
    display: block;
    float: left;
}
table .action-row {
    text-align: center;
}
table .file-name {
    font-weight: bold;
    color: #666;
    display: block;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    float: left;
    margin: 7px 0px 0px 10px;
}
table .file-icon.has-img>img {
    width: 36px;
    height: 36px;
}



.wrap-file-info {
    position: relative;
    border: 1px solid #424649;
}

.files.list > li {
    float: left;
    /* width: 150px; */
    /* border: 1px solid #eee; */
    margin-bottom: 10px;
    /* margin-right: 10px; */
    position: relative;
    list-style: none;
}
.files.list > li .top-right-button {position: absolute;right: 0;/* height: 20px; *//* overflow: hidden; */}
.files.list > li .top-right-button button {line-height: 30px;padding: 0 10px 0 0;margin: 0;}
.files.list > li .top-right-button button:focus {box-shadow: none;}
.files.list > li .file-select {
    position: absolute;
    top: -2px;
    left: 0px;
    /* border: none; */
}
.list .file-icon {
    text-align: center;
    font-size: 65px;
    color: #666;
    display: block;
    height: 100px;
    margin: 30px 0 0;
}
.list .file-info {
    text-align: center;
    padding: 10px;
}
.list .file-name {
    font-weight: bold;
    color: #666;
    display: block;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}
.list .file-size {
    color: #999;
    font-size: 12px;
    display: block;
}
.list  .files {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list .file-icon.has-img {
    /* padding: 0; */
    /* margin: 0; */
    padding: 0;
    width: 100%;
}
.list .file-icon.has-img>img {
    max-width: 100%;
    height: auto;
    max-height: 80px;
}
.featured-image {
    /* height: 420px; */
    overflow-x: hidden;
    overflow-y: scroll;
}
.post-set-featured-image {
    width: 100%;
    height: 210px;
    border: 2px dashed;
    cursor: pointer;
    overflow: scroll;
    position: relative;
}
.post-set-featured-image span.set {
    text-align: center;
    line-height: 210px;
    display: block;
    width: 100%;
}
.post-remove-featured-image {
    position: absolute;
    text-align: center;
    display: block;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -25px;
    height: 50px;
    background: rgb(220 54 69 / .7);
    line-height: 50px;
    cursor: pointer;
    color: #fff;
    z-index: 1000;
}
.post-set-featured-image img {
    width: 100%;
}
.has-img {
    cursor: pointer;
}

.row.media-info:after {
    position: absolute;
    height: 20px;
    width: 60px;
    top: 0;
    right: 0;
    background: #456bd8;
    font-size: 11px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    border-radius: 10px;
}

.row.media-info.album:after {
    content: "ALBUM";
}

.row.media-info.artist:after {
    content: "ARTIST";
}

.row.media-info.playlist:after {
    content: "PLAYLIST";
}

.row.media-info.song:after {
    content: "SONG";
}

.row.media-info.user:after {
    content: "USER";
}
.row.media-info.genre:after {
    content: "GENRE";
}
.row.media-info.mood:after {
    content: "MOOD";
}
.row.media-info.radio:after {
    content: "RADIO";
}

.row.media-info.station:after {
    content: "STATION";
}

.editable .form-control {
    border: 0;
    background: transparent;
    border-radius: 0;
    border-bottom: 1px solid #3395fe;
    outline: 0;
    padding: 0;
    margin: 0;
    height: 30px;
}
.editable .form-control:focus {
    outline: 0;
    box-shadow: none;
}
.table > tbody > tr > td.editable {
    position: relative;
    padding-right: 28px;
    cursor: pointer;
}
.table > tbody > tr > td.editable:after {
    position: absolute;
    top: 50%;
    right: 0;
    font-family: "Font Awesome 5 Free";
    content: "\f304";
    line-height: 20px;
    margin-top: -10px;
    font-weight: 600;
    font-size: 13px
}
@media (max-width: 767px) {
    .desktop {
        display: none;
    }
}




#fileupload .files {
    margin-left: -15px;
    margin-right: -15px;
}

.upload-info {
    overflow: hidden;
}

.upload-info-content {
    width: 100%;
    background: #eaecf4;
    border-radius: 6px;
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
}

.upload-info .error {
    background-color: #FFDFDF;
    color: #885E5E;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #FFCFCF;
    text-align: center;
    border-radius: 4px;
    width: 100%;
}

.upload-info-progress-outer {
    width: 100%;
    margin: 0 0 5px;
    height: 1rem;
    background: #f8f9fc;
    border-radius: 8px;
    position: relative;
}

.upload-info-progress {
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #8fc152;
    z-index: 0;
    border-radius: 8px;
}

.upload-info-file {
    margin-bottom: 20px;
    height: 20px;
    line-height: 20px;
}

.upload-info-file span:first-child {
    float: left;
    font-size: 90%;
}

.upload-info-file span:first-child span {
    padding-left: 10px;
    color: #8fc152;
}

.upload-info-file span:last-child {
    float: right;
    font-size: 90%;
}

.upload-info-block {
    position: relative;
    overflow: hidden;
}

.upload-info .img-container {
    width: 140px;
    margin-right: 20px;
    height: 140px;
    float: left;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.upload-info .img-container img {
 width: 100%;
 height: 100%;
}
.upload-info .img-container .edit-artwork {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    cursor: pointer;
    visibility: hidden
}

.upload-info .img-container .edit-song-artwork-input {
    position: absolute;
    opacity: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.upload-info .img-container:hover>.edit-artwork {
    visibility: visible
}

.upload-info .img-container .edit-artwork svg {
    fill: #fff;
    display: block;
    margin: 4px auto;
}

.upload-info .img-container .edit-artwork span {
    display: block;
    text-align: center;
    color: #fff;
    line-height: 40px;
}

.upload-info .field {
    margin-bottom: 15px;
}

.upload-info .song-info-container {
    width: calc(100% - 160px);
    float: left;
}

.upload-info .song-info-container .song-info-container-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #eaecf4;
    z-index: 1;
}

.upload-info-footer {
    margin-top: 30px;
    width: 100%;
}

.upload-info-footer .draft {
    float: left;
}

.upload-info-footer .save {
    float: right;
}

.upload-container {
    position: relative;
    width: 100%;
    height: 150px;
    margin: 30px 0;
    border: 2px dashed #4b4b4b;
    border-radius: 6px;
    /* background: #f8f8f8; */
}

.upload-container #upload-file-button {
    display: block;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -45px 0 0 -75px;
}

.upload-container #upload-file-button .icon {

    position: initial;

    width: 20px;

    height: 20px;

    margin-top: 8px;

    fill: #fff;
}

.upload-container #upload-file-button span {
    text-align: center;
    width: 127px;
    margin: 0;
}

.upload-container p {
    position: absolute;
    bottom: 10px;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 120%;
}

#upload-file-input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}
#fileupload {
    width: 100%;
}
.card-2-columns {
    -webkit-column-count: 2;
    -moz-column-count: 3;
    column-count: 2;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
}

.song-info-container .select2-container {
    width: 100% !important;
}

.wrapper {
    /* background: #fff; */
    display: flex;
    flex-direction: inherit;
    margin-left: 30px;
    margin-right: 30px;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 50px;
}
.wrapper.block {
    display: block;
}

.wrapper-cell.upload {
    margin-right: 0;
    /* background: #fff; */
    width: 100%;
    height: 250px;
    flex-direction: column;
    overflow: hidden;
}
.wrapper-cell.upload .image {
    width: 160px;
    height: 160px;
    display: block;
    /* margin-bottom: 10px; */
    float: left;
}

.wrapper-cell.upload .text {
    /* margin-left: 30px; */
    /* display: flow-root; */
    float: left;
    width: 100%;
    height: 50px;
    margin-top: 15px;
}

.wrapper-cell.upload .text .text-line {
    height: 15px;
    /* width: 100%; */
    margin: 4px 0;
}

.wrapper-cell.upload .text .text-line:last-child {
    width: 60%;
}


.wrapper .animated-background, .wrapper .image, .wrapper .text-line {
    background: #e9ebef;
    height: 96px;
    position: relative;
    border-radius: 5px;
}

.upload .image, .upload .text-line {
    background: #a2b1de;
}
.multi-check-box {
    height: 16px;
}
.table thead th.th-checkbox {
    width: 40px;
}
.main-section{
	border-radius: 0.25rem;
	height: fit-content;
	overflow: hidden;
}
.profile-header{
	height:150px;
}
.user-detail{
	margin:-50px 0px 30px 0px;
}
.user-detail table td {
    text-align: left;
}
.user-detail table td img, .user-detail table td svg {
    width: 16px;
    height: 16px;
}
.user-detail img{
	height:100px;
	width:100px;
}
.user-detail h5{
	margin:15px 0px 5px 0px;
}
.user-social-detail{
	padding:15px 0px;
}
.user-social-detail a i{
	color:#fff;
	font-size:23px;
	padding: 0px 5px;
}
.card-header .btn.btn-sm {
    position: absolute;
    right: 13px;
    top: 13px;
}

ul[id*=select2-group] .select2-results__option:not([id*='select2']):after, ul[id*=select2-role] .select2-results__option:not([id*='select2']):after {
    height: 36px;
    content: "---- None ----";
    text-align: center;
    width: 100%;
    font-style: italic;
    font-weight: 300;
    color: #d2d6da;
}
ul[id*=select2-group] .select2-results__option:not([id*='select2']):hover:after, ul[id*=select2-role] .select2-results__option:not([id*='select2']):hover:after {
    color: #c1c1c1;
}
/* The container */
.engine-checkbox {
  display: block;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 18px;
  height: 18px;
}
.engine-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 2px solid;
  border-radius: 2px;
}
.engine-checkbox:hover input ~ .checkmark {
}
.engine-checkbox input:checked ~ .checkmark {
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.engine-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.engine-checkbox .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.select2-container--default .select2-search--inline .select2-search__field:placeholder-shown {
  width: auto !important;
}

.lang-editable .form-control {
    border: 0;
    background: transparent;
    border-radius: 0;
    border-bottom: 1px solid #3395fe;
    outline: 0;
    padding: 0;
    margin: 0;
    height: 24px;
}
.lang-editable .form-control:focus {
    outline: 0;
    box-shadow: none;
}
.table > tbody > tr > td.lang-editable {
    position: relative;
    padding-right: 28px;
    cursor: pointer;
}
.table > tbody > tr > td.lang-editable:after {
    position: absolute;
    top: 50%;
    right: 0;
    font-family: "Font Awesome 5 Free";
    content: "\f304";
    line-height: 20px;
    margin-top: -10px;
    font-weight: 600;
    font-size: 13px
}
#access .select2-container {
  max-width: 200px;
}
.post-fullscreen {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}
.article-form.fullscreen {
    position: fixed;
    background: #191d22;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    border-radius: 0;
    overflow: auto;
}
.article-form.fullscreen .card {border-radius: 0;}

.filter-country .select2-container, .filter-city .select2-container {
    max-width: 200px;
}
.overlay-permission {
    position: relative;
}
.overlay-permission:after {
    content: 'You do not have permission to edit this user.';
    position: absolute;
    left: 15px;
    right: 15px;
    /* width: 100%; */
    text-align: center;
    line-height: 66px;
    background: rgb(220 53 69 / .8);
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 2px 2px #000000;
    z-index: 1;
}
.overlay-banned {
    position: relative;
}
.overlay-banned:after {
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    text-align: center;
    line-height: 66px;
    background: rgb(220 53 69 / .4);
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 2px 2px #000000;
    height: 65px;
    z-index: -1;
}
.table-sortable {
  position: relative;
}
.table .ui-sortable-helper {
    display: table;
    background: #4e73df !important;
    color: #fff !important;
    height: auto !important;
}
.table .ui-sortable-placeholder {
    height: 3px !important;
    border-radius: 2px;
    width: 100% !important;
    visibility: visible !important;
    position: absolute !important;
    overflow: hidden;
}
.table .ui-sortable-placeholder:after {
    content: '';
    background: #4e73df !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 10px;
    position: absolute;
}
.table .ui-sortable-placeholder td {
    display: none !important;
}
.table .ui-sortable-helper td:nth-child(2) {
    color: #4e73df !important;
}
.table .ui-sortable-helper svg {
    fill: #fff !important
}
.engine-ui-sortable-helper {
    padding: 3px 8px !important;
}
.output-body {
    white-space: pre-wrap;
    background: #000000;
    color: #00fa4a;
    padding: 10px;
    border-radius: 0;
    width: 100%;
    height: 600px;
}
.output-body .item pre {
    color: #fff;
}
.todo-list>li .tools {
    display: none;
    float: none;
    color: #3c8dbc;
    margin-left: 10px;
}
.callout-warning {
    color: yellow;
}
.img-square-24 {
    width: 24px !important;
    height: 24px !important;
}
.img-160-90 {
    width: 160px;
    height: 90px;
}
.img-70-40 {
    width: 70px;
    height: 40px;
}
.table-width100 {
    width: 100px;
}
.table-width140 {
    width: 140px;
}
.table-width150 {
    width: 150px;
}
.table-width200 {
    width: 200px;
}
.file-upload-form {
    z-index: -6;
    position: absolute;
}
#artwork_picker {
    position: absolute;
    left: -10000px
}
.container_photo {
    width: 240px; height: 135px
}